.integration-container {
	background-color: #e8e5e6;
	padding: 50px;
}

h1, h2, h3 {
	font-family: 'Prata', serif;
}

h1 {
	color: #de4e5b;
	font-size: 3rem;
	text-align: center;
	margin: 40px 0;
}

.content-card {
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card__close-button {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.close-button__x img{
	height: 25px;
}

.close-button__text {
    font-size: 0.5rem;
    width: 25px;
    text-align: center;
    margin-top: -3px;
}

.basket-total {
	margin: 40px 0;
}

.basket-total p {
	font-family: 'Prata', serif;
	font-size: 1.2rem;
}

.basket-total p img {
	height: 50px;
	margin-right: 10px;
}

.basket-total__price {
	font-size: 1.8rem;
	font-weight: bold;
    color: #e25766;
    background-color: #f3f2f2;
    padding: 10px;
    border-radius: 5px;
}

.basket-items__list {
	margin-bottom: 5px;
}

.basket-items__title {
	font-size: .8rem;
    text-transform: uppercase;
    border-bottom: solid 2px #d2d2d2;
    display: inline-block;
    margin-bottom: 5px;
}

.basket-item {
	font-family: serif;
	background: #e8e5e6;
	border:none;
	text-align: center;
    width: 100%;
    align-items: center;
    margin-top: 15px;
    padding: 3px;	
}

.basket-item img {
    margin-top: -15px;	
    width: 30px;
}

.basket-item__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;	
}

.basket-item__title {
	font-size: 0.8rem;
    margin: 5px 0px;	
}

.basket-item__price {
	font-weight: bold;
	color: #de4e5b;
}

p.basket_item__price {
	color: red;
}

.item-description__container:before {
	content:'';
	position:absolute;
	top:0;
	left: 24%;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #f3f2f2;

}

.item-description__container {
    background-color: #f3f2f2;
    margin-top: 10px;
    padding: 10px;
}

.item-description__infos {
    display: flex;
    font-size: 0.7rem;
    justify-content: space-between;
}

.item-description__text {
	display: flex;
}

.item-description__text img {
	margin-right: 5px;
	height: 20px;
}

.item-description__link {
	color: #de4e5b;
	font-style: italic;
	text-decoration:underline;
}

.items-stores__table {
	width: 100%;
	font-size: 0.8rem;
}

.items-stores__table td {
	padding: 10px;
}

.items-stores__table  tr:nth-child(odd){
	background-color: #fff;
}

.items-stores__table tr td:first-child {
	padding-left: 15px;
}

.items-stores__table tr td:nth-last-child(2) {
	font-weight: bold;
	text-transform: uppercase;
}

.items-stores__table tr td:last-child, .items-stores__table tr td:nth-last-child(2) {
	text-align: right;
}

.items-stores__table img {
	height: 15px;
}

.items-stores__button {
	border: 0;
	background-color: #db9183;
	font-weight: bold;
	color: #333;
}

.more-button {
	border-radius: 5px;
	background-color: #de4e5b;
	box-shadow: 0 6px #962832, 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) ;
	color: #fff;
	font-family: 'Prata', serif;
	display: inline-block;
	padding: 12px 20px;
	margin: 40px 0px;

}

.footer-icon {
	padding: 30px 0px;
	text-align: center;
	font-size: 3rem;
}



