.content {
	padding: 40px;
}

.header	{
	padding: 20px
}

.header a {
	font-weight: bold;
	margin: 0px 10px;
	color: #51a5ff;
}

.header .active {
	color: #007bff;
}

.st-sort-ascent:before {
	content: '\25B2';
}

.st-sort-descent:before {
	content: '\25BC';
}